<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="log.path" value="logs"/>
        <Property name="app.name" value="ldmzw-demo-log4j2"/>
    </Properties>

    <!--    <ThresholdFilter level="info"/>-->

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %m%n"/>
        </Console>
        <File name="DEBUG_FILE" fileName="${log.path}/${app.name}_debug.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c %m%n</Pattern>
            </PatternLayout>
            <ThresholdFilter level="DEBUG"/>
        </File>
        <RollingFile name="INFO_FILE" filePattern="${log.path}/${app.name}-info-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c %L %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DirectWriteRolloverStrategy maxFiles="15"/>
            <ThresholdFilter level="INFO"/>
        </RollingFile>
        <RollingFile name="WARN_FILE" filePattern="${log.path}/${app.name}-warn-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c %L %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DirectWriteRolloverStrategy maxFiles="15"/>
            <LevelMatchFilter level="WARN"/>
        </RollingFile>
        <RollingFile name="ERROR_FILE" filePattern="${log.path}/${app.name}-error-%d{yyyy-MM-dd}.%i.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %c %L %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
            <DirectWriteRolloverStrategy maxFiles="15"/>
            <LevelMatchFilter level="ERROR"/>
        </RollingFile>
    </Appenders>

    <Loggers>

        <Logger name="com.ldmzw.demo.log4j2" level="trace"/>

        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="DEBUG_FILE"/>
            <AppenderRef ref="INFO_FILE"/>
            <AppenderRef ref="WARN_FILE"/>
            <AppenderRef ref="ERROR_FILE"/>
        </Root>
    </Loggers>
</Configuration>